<table class="table table-bordered">
  <tbody>
  <tr *ngFor="let time of times; index as i;">
    <th scope="row"> {{ i + 1 }}</th>
    <th> {{ time.toString() }}</th>

    <th
      *ngFor="let fhModul of getModuls('Mon', time.toJsonFormat())"
      attr.rowspan="{{ fhModul.timeSlotDuration }}"
      (click)="fhModul.select = !fhModul.select"
      [class.table-success]="fhModul.select"
    >
      {{ fhModul.courseId }} {{ fhModul.courseType }} {{ fhModul.lecturerId }} {{ fhModul.roomId }} {{ fhModul.studentSet }}
      <br>
      {{ fhModul.name }}
    </th>
  </tr>
  </tbody>
</table>
