<div class="welcome-wrap">
  <div class="row mt-5 content">
    <div class="col-6 content-box">
      <h1>
        Create your timetable quickly and easily
      </h1>
      <p class="description-text mt-4">
        Hier kommmt ein toller Text rein, der diese Andwendung kurz erklärt ...
      </p>
      <a [routerLink]="['/table-generator']" type="button" class="btn btn-primary btn-lg">Get started</a>
    </div>
    <div class="col-6">
      <div class="welcome-img"></div>
    </div>
  </div>
</div>

<a href='https://de.freepik.com/vektoren/geschaeft'>Geschäft Vektor erstellt von freepik - de.freepik.com</a>