<div class="m-3">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="input-group mb-3">
        <input [(ngModel)]="urlInput" type="text" class="form-control" placeholder="FH URL">
        <div class="input-group-append">
          <button (click)="onSubmit()" class="btn btn-outline-primary" type="button">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Mo</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-start flex-row">
        <app-fh-timetable *ngFor="let moduls of tables" [moduls]="moduls"></app-fh-timetable>
      </div>
    </div>
    <div class="card-footer text-muted">
      <p>V = Vorlesung; SV = seminaristische Vorlesung; S = Seminar; Ü = Übung; P = Praktikum; T = Tutorium</p>
      <button type="button" class="btn btn-primary btn-lg">Build</button>
    </div>
  </div>
</div>







